// 載入全部的功能模組在main.js
@import './util/reset.scss';
@import './layout/layout.scss';
@import './util/animation.scss';

// UI

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,700i');

* {
  box-sizing: border-box;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  font-size: 16px;
}