$color-yellow: #50FF44;
$color-black: #000000;
$color-white: #ffffff;
$color-lighter-gray: #F2F2F2;

$color-gray: rgba(0, 0, 0, 0.8);
$color-light-gray: rgba(0, 0, 0, 0.1);

$media-size-ipad: 768px;
$media-size-phone: 425px;